<div class="containerPageLoad">
    <div class="vertical-center">
        <div>
            <img src="/images/Preload.gif" alt="" style="height:300px;width:300px" />
        </div>

    </div>
</div>

@code {

}
